/**
 * @file
 * CSS used in emails provided by VerifyMailer
 */

h4 {
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: white;
  background-color: #0678be;
}

h4 > a {
  color: white;
}

.text-small {
  font-size: smaller;
}

.symfony-mailer-logo {
  width: 2em;
  height: 2em;
}
